{% extends "layout.html" %}
{% block body %}
    <div id="page-content-wrapper">
        <form class="add-task" method="POST" action="/add">
            <input name="task" placeholder="Enter a task in the format: task:<task> project:<proj> +tag +tag due:<dd-mm-yyyy> urgency:<urg>"/>
		    </form>
        {% for project in tasks: %}
            <div class="col-md-6">
				<h3 data-project="{{project}}">{{project}}</h3>
                {{tasks[project]}}
            </div>
        {% endfor %}
    </div>
{% endblock %}
