<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>

    <meta name="author" content="chris@gwillia.ms">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

  </head>
  <body>
        <div id="wrapper" class="content container">
                <!-- Page Content -->
                {% block body %}{% endblock %}
        </div>
        <script src={{ url_for('static', filename='js/jquery.min.js') }}></script>
    <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
    <script src={{ url_for('static', filename='js/scripts.js') }}></script>
  </body>
</html>
